<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/util
         http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:common.properties</value>
            </list>
        </property>
    </bean>

    <bean id="randomNumberGenerator" class="com.uprr.app.tng.spring.random.RandomNumberGenerator"/>
    <bean id="pokemonDao" class="com.uprr.app.tng.spring.dao.PokemonDao"/>
    <bean id="pokemonLocationDao" class="com.uprr.app.tng.spring.dao.PokemonLocationDao"/>
    <bean id="pokemonFactory" class="com.uprr.app.tng.spring.factory.PokemonFactory"/>
    <bean id="gameBoard" class="com.uprr.app.tng.spring.GameBoard"/>


    <bean id="scanner" class="java.util.Scanner">
        <constructor-arg>
            <util:constant static-field="java.lang.System.in"/>
        </constructor-arg>
    </bean>

    <util:constant id="printStream" static-field="java.lang.System.out"/>

    <bean class="com.uprr.app.tng.spring.hmi.HumanInterface"/>
    <context:annotation-config/>
</beans>
